<div class="row" style="background-color: #cccccc">
  <h3 align="center">{{ "Inning " + inning}}</h3>
  <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
    <br>
    <h4>{{ battingTeam + " Batsmen" }}</h4>
    <select ng-model="selectedBatsmanKey">
      <option value="">---Please select---</option>
      <option value="Batting Order">Batting Order</option>
      <option value="Runs Scored">Runs Scored</option>
      <option value="Balls Faced">Balls Faced</option>
      <option value="Strike Rate">Strike Rate</option>
      <option value="Form">Form</option>
    </select>
    <br>
    <br>
    <table>
        <tbody>
          <tr align="center">
            <td ng-class="activeBatsmen.includes(batsmen[$index].id) ? '' : 'active'" align="center" ng-repeat="batsman in batsmen" ng-style="currentBatsmen.includes(batsmen[$index].id) ? batsmanStyling : normalStyling">
              <img align="center" class="center-block" uib-tooltip="{{ batsman.name }}" ng-src="{{ imageDict[batsman.name] }}" ng-click="changeBatsmen(batsmen[$index])" height="60" alt="batsmanImage"/><br>
              <!--<button align="center" type="button" class="btn btn-success btn-xs" ng-click="showBatsman(batsmen[$index], $parent.playerDict, imageDict, matchID)">Stats</button>-->
              <p uib-tooltip="Runs Scored">RS: {{ batsman.runs_scored }}</p>
              <p uib-tooltip="Balls Faced">BF: {{ batsman.balls_faced }}</p>
              <p uib-tooltip="Strike Rate">SR: {{ batsman.strike_rate.toLocaleString('en-US', { minimumFractionDigits: 2 }) }}</p>
              <p uib-tooltip="Form">F:  {{ batsman.form.toLocaleString('en-US', { minimumFractionDigits: 2 }) }}</p>
            </td>
          </tr>
        </tbody>
    </table>
    <br>
    <h4>{{ bowlingTeam + " Bowlers" }}</h4>
    <select ng-model="selectedBowlerKey">
      <option value="">---Please select---</option>
      <option value="Bowling Order">Bowling Order</option>
      <option value="Runs Conceded">Runs Conceded</option>
      <option value="Wickets Taken">Wickets Taken</option>
      <option value="Overs Bowled">Overs Bowled</option>
      <option value="Extras Conceded">Extras Conceded</option>
    </select>
    <br>
    <br>
    <table>
        <tbody>
          <tr align="center">
            <td ng-class="activeBowlers.includes(bowlers[$index].id) ? '' : 'active'" align="center" ng-repeat="bowler in bowlers" ng-style="currentBowlers.includes(bowlers[$index].id) ? bowlerStyling : normalStyling">
              <img align="center" class="center-block" uib-tooltip="{{ bowler.name }}" ng-src="{{ imageDict[bowler.name] }}" ng-click="changeBowlers(bowlers[$index], $parent.playerDict, imageDict, matchID)" height="60" alt="bowlerImage"/><br>
              <!--<button align="center" type="button" class="btn btn-success btn-xs" ng-click="showBowler(bowlers[$index], $parent.playerDict, imageDict, matchID)">Stats</button>-->
              <p uib-tooltip="Overs Bowled">OB: {{ bowler.overs_bowled }}</p>
              <p uib-tooltip="Runs Conceded">RC: {{ bowler.runs_conceded }}</p>
              <p uib-tooltip="Wickets Taken">W:  {{ bowler.wickets_taken }}</p>
              <p uib-tooltip="Extras Conceded">EC: {{ bowler.extras_conceded }}</p>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  <div align="center" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
    <h3>Pitch Map</h3>
    <h4>Overs Displayed</h4>
    <!--<rzslider rz-slider-model="rangeSlider.minimumOver" rz-slider-high="rangeSlider.maximumOver" rz-slider-options="rangeSlider.options"></rzslider>-->
    <ball-chart balls="inningBalls" batsmen="currentBatsmen" bowlers="currentBowlers" min="slider.minimumOver" max="slider.maximumOver" dictionary="$parent.playerDict"></ball-chart>
  </div>
</div>
