<div class="row">
  <div align="center" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h6>Views</h6>
      <div class="btn-group">
        <button ng-repeat="view in mapViews" ng-click="changeView(view)" class="btn" ng-class="view == mapView ? 'btn-success' : 'btn-default'">{{ view }}</button>
      </div>
  </div>
  <div align="center" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h6>Filters</h6>
      <p ng-hide="showOverFilter || showBatsmanFilter || showBowlerFilter || showPartnershipFilter || showPitchFilter || showGroundFilter || showStumpFilter || showBatFilter || showZoneFilter">No Active Filters</p>
      <label ng-show="showOverFilter" class="btn btn-primary" ng-click="removeOverFilter()">
        Overs
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showBatsmanFilter" class="btn btn-primary" ng-click="removeBatsmanFilter()">
        Batsmen
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showBowlerFilter" class="btn btn-primary" ng-click="removeBowlerFilter()">
        Bowlers
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showPartnershipFilter" class="btn btn-primary" ng-click="removePartnershipFilter()">
        Partnerships
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showPitchFilter" class="btn btn-primary" ng-click="removePitchFilter()">
        Pitch
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showStumpFilter" class="btn btn-primary" ng-click="removeStumpFilter()">
        Stump
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showGroundFilter" class="btn btn-primary" ng-click="removeGroundFilter()">
        Ground
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showBatFilter" class="btn btn-primary" ng-click="removeBatFilter()">
        Batting Hand
        <span aria-hidden="true">&times;</span>
      </label>
      <label ng-show="showZoneFilter" class="btn btn-primary" ng-click="removeZoneFilter()">
        Zone
        <span aria-hidden="true">&times;</span>
      </label>
  </div>
</div>
<div>
  <br>
  <br>
  <br>
</div>
<generate-ball-vis
    balls="inningBalls"
    batsmen="currentBatsmen"
    bowlers="currentBowlers"
    min="slider.minimumOver"
    max="slider.maximumOver"
    dictionary="$parent.playerDict"
    map-view="mapView"></generate-ball-vis>
<div id="maps" class="row" scroll-glue="glued">
  <div style="border-right: 1px solid #bcbcbc" align="center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h4>Pitch Map</h4>
      <div id="pitch">
          <svg width="270" height="270"></svg>
      </div>
  </div>
  <div align="center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h4>Stump Map</h4>
      <div id="stumps">
          <svg width="270" height="270"></svg>
      </div>
  </div>
  <div style="border-left: 1px solid #bcbcbc; border-right: 1px solid #bcbcbc" align="center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h4>Ground Map</h4>
      <div id="ground">
          <svg width="270" height="270"></svg>
      </div>
  </div>
  <div align="center" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <h4>Player Graph</h4>
      <h5>Hover on a player to see his opponents</h5>
      <bipartite-graph
          balls="inningBalls"
          min="slider.minimumOver"
          max="slider.maximumOver"
          player-dict="$parent.playerDict"
          image-dict="imageDict">
      </bipartite-graph>
  </div>
</div>
<br>
