<div align="center">
  <h3>Batsman-Bowler Matchup</h3>
  <div style="width:500px">
    <div id="vizes" class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Analyzed Side</h5>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Sorting Order</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="btn-group">
              <button ng-repeat="side in sides" class="btn btn-small" ng-click="selectSide(side)" ng-class="side == selectedSide ? 'btn-success' : 'btn-default'">{{ side }}</button>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <select ng-model="sortKey" class="form-control">
                <option ng-repeat="key in sortKeys" value="{{ key }}">{{ key }}</option>
            </select>
        </div>
    </div>
  </div>

  <br>
  <br>
  <player-graph
      graph="playerGraph"
      image-dict="images"
      player-dict="playerDict"
      side="selectedSide"
      sort-key="sortKey"></player-graph>
  <br>
  <div ng-show="showVizes">
      <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img align="right" ng-src="{{ images[playerDict[selectedBowler.toString()]['name']] }}" height="60" alt="batsmanImage"/><br>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>{{ playerDict[selectedBowler.toString()].name + " bowled " + displayedBalls.length + " " + (displayedBalls.length != 1 ? "balls" : "ball") + " to " + playerDict[selectedBatsman.toString()].name }}</h4>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img align="left" ng-src="{{ images[playerDict[selectedBatsman.toString()]['name']] }}" height="60" alt="bowlerImage"/><br>
          </div>
      </div>
      <br>
      <div align="center" class="row">
          <h4>Games</h4>
          <div class="btn-group">
            <label class="btn btn-default" ng-repeat="game in representedGames" ng-mouseover="seeGame(game)" ng-mouseleave="seeGame(null)">{{ game.date.split(" ")[0] }}</label>
          </div>
      </div>
      <br>
      <div class="row">
        <div style="border-right: 1px solid #bcbcbc" align="center" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Pitch Map</h4>
            <pitch-matchup balls="displayedBalls" dictionary="playerDict" games="representedGames" game="currentGame"></pitch-matchup>
        </div>
        <div style="border-right: 1px solid #bcbcbc" align="center" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Stump Map</h4>
            <stump-matchup balls="displayedBalls" dictionary="playerDict" games="representedGames" game="currentGame"></stump-matchup>
        </div>
        <div style="border-right: 1px solid #bcbcbc" align="center" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Ground Map</h4>
            <ground-matchup balls="displayedBalls" dictionary="playerDict" games="representedGames" game="currentGame"></ground-matchup>
        </div>
      </div>
  </div>
</div>
