<div align="center">
    <h3>Tournament Analysis</h3>
    <br>

    <h4>Select a team to analyze</h4>
    <div class="btn-group">
        <button class="btn btn-small" ng-repeat="stage in stages" ng-class="stage == selectedStage ? 'btn-success' : 'btn-default'" ng-click="selectStage(stage)">{{ stage }}</button>
    </div>
    <br>
    <br>
    <!--<tournament-bracket stage-information="bracketInfo" stage="selectedStage"></tournament-bracket>-->
    <div class="team-list">
        <table class="team-table" style="background-color:#aaaaaa">
            <tr>
                <th ng-click="selectTeam(team)" style="text-align:center; width:100px; cursor:pointer;" ng-style="team['name'] != selectedTeam ? normalStyling : selectedStyling" ng-repeat="team in teams">
                    <h6>{{ team['name'] }}</h6>
                </th>
            </tr>
            <tr>
                <td ng-click="selectTeam(team)" ng-style="team['name'] != selectedTeam ? normalStyling : selectedStyling" ng-repeat="team in teams" style="cursor:pointer; width: 100px; padding-right: 20px; img { display: block; margin-left: auto; margin-right: auto; }">
                    <img style="vertical-align:middle" class="center-block" ng-src="{{ team['image'] }}" height="50" alt="team1Flag"/>
                    <br>
                    <br>
                </td>
            </tr>
        </table>
    </div>
    <div class="container-fluid" autoscroll="true" ui-view></div>
    </div>
</div>
